@import './mixing.scss';

//bouton retour:
@mixin bouton_lien_retour_css{
    @include frcc;
    cursor: pointer;
    background-color: rgb(45, 0, 59);
    color: #fff;
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    border-radius: 20px;
    width: 60px;
    padding: 7px 20px;
    transition: 0.2s ease;
    .interne_bouton{
        @include frcc;
    }
    label{
        color: #fff;
        padding-left: 5px;
    }
    &:hover{
        background-color: rgb(76, 1, 98);
        transform: scale(1.1);
    }
}
//bouton simple:
@mixin bouton_css{
    cursor: pointer;
    background-color: rgb(45, 0, 59);
    color: #fff;
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    padding: 7px 20px;
    transition: 0.2s ease;
    width: 46px;
    a{
        color: #fff;
        padding-left: 5px;
    }
    &:hover{
        background-color: rgb(76, 1, 98);
        transform: scale(1.1);
    }
}

@mixin bouton_affecter{
    cursor: pointer;
    background-color: rgb(71, 1, 81);
    color: #fff;
    font-family: sans-serif;
    font-size: 8px;
    text-decoration: none;
    padding: 7px 20px;
    transition: 0.2s ease;
    width: 110px;
    border: none;
    margin-top: 20px;
    a{
        color: #fff;
        padding-left: 5px;
    }
    &:hover{
        background-color: rgb(76, 1, 98);
        transform: scale(1.1);
    }
}