@{
    ViewData["Title"] = "Home Page";
}
<div class="list_container">
    <a asp-action="AnnoncePage" asp-controller="Annonce" class="bouton_lien">
        <div class="interne_bouton">
            <i class='bx bx-chevron-left-circle' style="height: 11px;"></i>
            <label>retour</label>
        </div>
    </a>
    <div class="title_content">
        <p style="color: rgb(222, 3, 3);">vous n'etes pas administrateur !</p>
    </div>
</div>
